# Reverse Proxy settings
PROXYIP=10.1.0.35
FQDN=dolibarr.newtown.energy
PORT=8090

# SMTP settings
# SMTP_HOST=
# SMTP_FROM=
# SMTP_PORT=25

# MariaDB Settings
# MYSQL_ROOT_PASSWORD=changeme
# MYSQL_DATABASE=dolibarr
# MYSQL_USER=dolibarr
# MYSQL_PASSWORD=changeme

DOLI_URL_ROOT="https://example.com"
DOLI_CRON=0
DOLI_CRON_KEY=mycronsecurekey
DOLI_COMPANY_NAME="Newtown Energy"
WWW_USER_ID=1000
WWW_GROUP_ID=1000
# DOLI_INIT_AUTO=0
# DOLI_INIT_DEMO=0
# DOLI_ADMIN_LOGIN=admin
# DOLI_ADMIN_PASSWORD=admin
