DATABASE_URL=sqlite:neems-core-staging.db
ENABLE_TOTP=false
ROCKET_CONFIG=Rocket.toml
ROCKET_PROFILE=release
ROCKET_LOG_LEVEL=info
RUST_LOG=neems-core=info

CADDY_FQDN=staging.neems.newtownenergy.com
CADDY_DEST_IP=http://bromine-newtown.tail894ad.ts.net
CADDY_DEST_PORT=7272
